body {
    margin-left: 0px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #56593D;
}

.nav__line {
    width: 100%;
    height: 16px;
    background: #f8f8df;
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

a, .logo {
    margin-left: 50px;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;
    color: #56593D;
}
.logo {
    margin-left: 10%;
    font-size: 32px;
}
.container {
    position: relative;
}
.nav__picbcg {
    background-color: #f5f5cf;
    margin-left: 150px;
    margin-top: 40px;
    margin-right: 93px;
    
}

.nav__pic {
    width: 1240px;
    height: 730px;
    padding: 15px;
}

.text__pics {
  
}

.text__pic {
    position: absolute;
    bottom: 8px;
    right: 120px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 50px;
}

.middle__text__pic{
    position: absolute;
    bottom: -70px;
    right: 170px;
    font-size: 50px;
    color:  #56593D;
    letter-spacing: .1rem;
}

.btn__pic {
    position: absolute;
    bottom: -100px;
    right: 180px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    padding: 15px;
    background: #56593D;
    border-radius: 5px;
    color: rgb(252, 213, 219);
}

.article {
    font-size: 60px;
    margin: 70px;
    padding-left: 150px;
    padding-right: 100px;
    line-height: 140%;  
}

.article__follow {
    margin-left: 35%;
    
}