body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #56593D;
}

.nav__line {
    width: 100%;
    height: 26px;
    background: #eae9e4;
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

a, .logo {
    margin-left: 50px;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;
    color: #56593D;
}
.logo {
    margin-left: 10%;
    font-size: 32px;
}
.container {
    margin-left: 150px;
}

.nav__img, .essential__img {
    width: 1240px;
    height: 730px;
    margin-bottom: 40px;
}

.text__pic {
    position: absolute;
    bottom: 8px;
    right: 120px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 50px;
}

.middle__text__pic{
    position: absolute;
    bottom: -70px;
    right: 170px;
    font-size: 50px;
    color:  #56593D;
    letter-spacing: .1rem;
}

.btn__pic {
    position: absolute;
    bottom: -100px;
    right: 180px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    padding: 15px;
    background: #56593D;
    border-radius: 5px;
    color: rgb(252, 213, 219);
}
.btn__pic:hover {
    background: #a1a1a1;
    transition: 0.5s;
    cursor: grab;
}

.article { 
    display: inline-block;
   margin-left: 60px;
    
}
.article-text {
    align-items: center;
    font-size: 58px;
    line-height: 140%;
    width: 90%;
}
.article-links {
    margin-left: 30%;
    margin-bottom: 60px;
}

.board {
    display: flex;
    max-width: 1240px;
    background-color: #eae9e4;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.plan  {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 50px;
    margin-left: 54px;
}

.collection {
    position: absolute;
    text-align: center;
    margin-left: 33%;
    padding: 30px;
    font-size: 24px;
    letter-spacing: .1rem;
}
.board__discr, .price {
    align-self: center;
    bottom: 10px;
    letter-spacing: .0.5rem;
}

.story-img {
    padding: 64px 32px;
    width: 60%;
}
.design-column{
    flex-direction: column;
    text-align: center;
    align-self:center;
    
}
.design-story {
    display: flex;
    justify-content: center;   
}
.heading{
    flex-direction: column;
}
.article-story{
    padding: 20px 78px;
    font-style: italic;
    font-size: 18px;
    line-height: 32px;
    
}
.design-line{
    margin-top: 40px;
    width: 50px;
    border: 1px solid #717353;
    margin-left: 45%;

}



    

   
